<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">
                    Hello, Dear Visiters. I am Ismet Can Sahin. I'm a Junior Software Developer and Engineer. I studied Electrical and Electronics Engineering at Firat university. I also took Artificial Intelligence and Robotics courses at Technical University of Liberec. In general, I am developing myself using programming languages such as Python, SQL. You can review my projects from my GitHub and Medium account.I'm particularly interested in the Python programming language. I have been working in the fields of Machine Learning, Deep Learning, and Computer Vision. In addition, I voluntarily produce content for the Data Science Earth team. I produce content to expand the use of open data in the Open Data and Technology Society(AVTED) in Turkey.If you have a big project or want to create a software for your business, please contact me.I'll do it in the shortest time.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
